:root {
    --primary-purple: #5A24DB;
    --dark-background: #1C1C1E;
    --highlight-purple: #6B52D9;
    --dark-bubble: #333333;
    --button-green: #32D74B;
    --button-dark-green: #0B663A;
    --text-white: #FFFFFF;
    --text-white-secondary: #71717a;
    --raspberry: #E21E5Fff;
    --raisin-black: #24202Aff;
    --mauve: #C99BF8ff;
    --blue-violet: #723CEAff;
    --french-gray: #ADAAB3ff;
    --hover-black: #2b2c2f;
}
