@page "/profile"

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-column align-items-center">
    <div class="d-flex justify-content-center flex-column align-items-center"> 
        <MudAvatar Class="mb-2 mt-2">

        </MudAvatar>
        <MudText Class="mb-1">
            User
        </MudText>
        <MudText Typo="Typo.subtitle2">
            Member since 2 years
        </MudText>
    </div>


    <MudButton>
        SwipeHistory
    </MudButton>



</MudContainer>

@code {

}
