@page "/relationship"
<MudContainer MaxWidth="MaxWidth.Small" Class="mt-4">
    <div class="d-flex flex-row justify-content-around">
        <MudAvatar Class="avatar">
            <MudImage Src="userProfiles\zulmaury-saavedra-kXC0dbqtRe4-unsplash.jpg"></MudImage>
        </MudAvatar>

        <MudAvatar Variant="Variant.Outlined" Class="position-relative avatar">
            <MudIcon Class="position-relative avatar-inner" Icon="@Icons.Outlined.Favorite" >

            </MudIcon>
            <MudIcon Class="inner-icon avatar-inner-badge" Style="color: black" Icon="@Icons.Outlined.QuestionMark">

            </MudIcon>
        </MudAvatar>
    </div>
</MudContainer>
@code {

}
