@inject IAuthService AuthService
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<MudPaper Class="pa-3">
    <MudForm @ref="form" Class="ma-4" >
        <MudTextField T="string" Label="Email" @bind-Value="loginModel.Email" Required="true" RequiredError="Email is required!" Variant="Variant.Outlined"
                      Validation="@(new EmailAddressAttribute() { ErrorMessage = "The email address is invalid" })" />
        <MudTextField T="string" Label="Password" @bind-Value="loginModel.Password" HelperText="Choose a strong password" InputType="InputType.Password" Variant="Variant.Outlined"
                      Required="true" RequiredError="Password is required!" />
    </MudForm>
    <div class="d-flex flex-column gap-2 py-8">
    <MudButton Variant="Variant.Filled" DisableElevation="true" OnClick="@(()=>HandleLogin())">Sign In</MudButton>
    </div>
</MudPaper>

@code {
    private UserLogin loginModel = new UserLogin();
    public MudForm form { get; set; }

    private async Task HandleLogin()
    {
        var result = await AuthService.Login(loginModel);
        if (result.Success)
        {
            await LocalStorageService.SetItemAsync("authToken", result.Data);
            await AuthenticationStateProvider.GetAuthenticationStateAsync();
            Snackbar.Add("You are logged in!", Severity.Success);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            Snackbar.Add(result.Message, Severity.Error);
        }
    }
}
